<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col">
        {%- include social.html -%}
      </div>

  </div>

</footer>


