// Placeholder to allow defining custom styles that override everything else.
// Use `_sass/minima/custom-variables.scss` to override variable defaults

// Suppress the site header
.site-header {
    display: none;
}

// Centered the gallery but left-align thumbnails in partially full rows - not working yet
#lightgallery {
  display: flex;
  flex-wrap: wrap;
/*  justify-content: flex-start; */
  gap: 5px;
  padding: 30px;
}

// Stop the wrapper from making the page too narrow
.wrapper {
  max-width: 100%;
  padding: 0;
}

// Remove extra padding from the page content div
.page-content {
    padding: 0,
}

// Fix padding in the new footer
.site-footer {
	padding: 15px 30px 15px 30px;
}

// Remove extra bottom padding from the new footer table
.footer-col {
  margin-bottom: 0;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

// Remove extra bottom padding from the site description
.footer-col p {
    margin-bottom: 0;
}

// Remove social icon borders
.social-media-list li a {
  border: none;
}

// Hover color for social icons
.svg-icon:hover {
  color: #5b5b5b;
}

// Align social icons to the right - I want them to wrap and align left on mobile though
.social-media-list {
  margin: 0 0 0 auto;
}






