<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}
<link type="text/css" rel="stylesheet" href="{{ '/assets/css/lightgallery-bundle.css' | relative_url }}">

<!-- A dash of Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<!-- lightGallery JavaScript -->
<script src="{{ '/assets/js/lightgallery.umd.js' | relative_url }}"></script>

<!-- lightgallery plugins -->
<script src="{{ '/assets/js/plugins/lg-thumbnail.umd.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/lg-zoom.umd.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/lg-fullscreen.umd.js' | relative_url }}"></script>

 <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
