---
layout: base
---
<article class="post">

    {% unless page.title == 'About' %}
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  {% endunless %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
